{% assign current = page.url | downcase | split: '.' %}
<header>
  <div class="{% if current[0] == '/' %}header-bg{% endif %}">
    <div class="nav-container">
      <a href="/" class="logo arbuz">JASON NERIDA</a>
      <nav>
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if current[0] == item.link %}class="current"{% endif %}>{{ item.name | upcase }}</a>
        {% endfor %}
      </nav>
    </div>
    {% if current[0] == '/' %}{% include blurb.html %}{% endif %}
  </div>
  <!-- <nav>
    {% for node in site.pages %}
      {% if page.url == node.url %}
        <a href="{{node.url}}" class="current">{{node.title}}</a>
      {% else %}
        <a href="{{node.url}}">{{node.title}}</a>
      {% endif %}
    {% endfor %}
  </nav> -->
</header>
