/********** Global **********/
@font-face {
    font-family: 'Arbuz-Regular';
    src: url(../fonts/38DF58_0_0.eot);
    src: url(../fonts/38DF58_0_0.eot?#iefix) format("embedded-opentype"),url(../fonts/38DF58_0_0.woff2) format("woff2"),url(../fonts/38DF58_0_0.woff) format("woff"),url(../fonts/38DF58_0_0.ttf) format("truetype")
}
body {
  background-color: #F9F9F9;
  color: #525252;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main { flex: 1; }
a {
  color: #794956;
  &:hover {
    color: #ff1313;
  }
}
a:hover {
  text-decoration: none;
}
.arbuz {
  font-family: 'Arbuz-Regular';
  font-weight: normal;
  font-style: normal;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
/********** Header **********/
header {
  color: #F9F9F9;
  .header-bg {
    background: url(../images/nail.png) no-repeat 0 -6rem;
    background-size: cover;
    padding: 0 0 2rem 0;
    .blurb {
      max-width: 64rem;
      padding: 2rem 6rem;
      margin: 0 auto;
    }
  }
  .nav-container {
    padding: 2rem;
    background-color: #22060e;
    opacity: 0.9;
    .logo {
      font-size: 2rem;
      float: left;
    }
    a {
      color:  #794956;
      &:hover {
        color: #F9F9F9;
      }
    }
    a, nav {
      line-height: .5rem;
    }
    nav {
      float: right;
      a {
        margin: 1rem;
        font-weight: 700;
      }
      .current {
        color: #F9F9F9;
      }
    }
  }
}
/********** Footer **********/
footer {
  padding: 2rem;
  .icon {
    font-size: 2rem;
  }
  .quotes {
    display: block;
  }
}
/********** Posts **********/
.posts, .sidebar {
  padding: 2rem;
  margin: 0;
  float: left;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
.posts {
  flex: 70%;
  h1 {
    color: #525252;
  }
  .screenshot {
    width: 50%;
    float: left;
    p {
      margin-bottom: 0;
    }
  }
  .highlight {
    margin: 1em 0;
    pre {
      background-color: #FFF;
      border-color: #22060e40;
    }
  }
}
.sidebar {
  flex: 30%;
}
.sidebar {
  h3 {
    margin-bottom: .25rem;
  }
  ul {
    margin-top: 0;
  }
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
/********** Pagination **********/
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    margin-right: 1em;
}







/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
